/*  
:root {
    --app-bg-color: gray;
    --chessboard-bg-color: #779556;
    --chessboard-shadow-colorr: rgba(0, 0, 0, 0.233);
    --chessboard-container-border-color: #ebecd0;
    --square-white-bg-color: #ebecd0; 
    --square-black-bg-color: #779556;
    --square-active-after-bg-color: linear-gradient(#6b864f, #4a5d36);
    --piece-text-shadow-color: #0000006b;
    --piece-active-bg-color: #6b6b6b69;
    --piece-white-icon-color: white;
    --piece-black-icon-color: black;
}
*/

:root {
    --app-bg-color: #4a526c;
    --chessboard-primary-color: #2054b4;
    --chessboard-secondary-color: #d0e9ec;
    --chessboard-shadow-colorr: rgba(0, 0, 0, 0.233);
    --square-active-after-bg-color: linear-gradient(#2e9ddda2, #25bfeea2);
    --piece-white-icon-color: white;
    --piece-black-icon-color: black; 
    --piece-text-shadow: 0 0 5px #0000006b;
    --piece-active-bg-color: #6b6b6b69;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 3em;
}

.App-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--app-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chessboard {
    background: var(--chessboard-primary-color);
    width: 900px;
    height:900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--chessboard-shadow-colorr);
}

.container-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.chessboard-container {
    border: 5px solid var(--chessboard-secondary-color);
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
}

    .square {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .square.white {
            background: var(--chessboard-secondary-color);
        }

        .square.black {
            background: var(--chessboard-primary-color);
        }

        .square.active:after {
            content: '';
            width: 50%;
            height: 50%;
            position: absolute;
            border-radius: 50%;
            opacity: .7;
            cursor: pointer;
            background: var(--square-active-after-bg-color)
        }

        .piece {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: var(--piece-text-shadow);
            font-size: 1rem;
            cursor: pointer;
        }
            .piece.active {
                background: var(--piece-active-bg-color);
            }
            
            .piece.white {
                color: var(--piece-white-icon-color);
            }

            .piece.black {
                color: var(--piece-black-icon-color);
            }

    @media (max-width: 600px) {
        .chessboard {
            width: 450px;
            height: 450px;
        }
        .piece {
            font-size: .7rem;
        }
    }